# Dependências
node_modules/

# Build
dist/
dist-ssr/
*.local

# Logs
*.log
npm-debug.log*

# Ambiente
.env
.env.local
.env.production.local

# Editor
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

